<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/output.css">
    <title>Document</title>
</head>
<body>
    
</body>
</html>
<aside class="bg-[#2f855a] w-56 flex flex-col justify-between text-[#d1d5db]">
    <div class="flex flex-col h-full bg-gray-800 text-white w-64">
        <div class="flex items-center justify-center h-16 bg-gray-900">
        <h1 class="text-red-400 text-xl">Pengembalian Barang</h1>
        </div>
        <nav class="flex-1 p-4">
        <ul class="space-y-2">
            <li><a href="/pengembalian" class="block px-4 py-2 hover:bg-gray-700 rounded">Dashboard</a></li>
            <li><a href="/pengembalian/tambah" class="block px-4 py-2 hover:bg-gray-700 rounded">Tambah Pengembalian</a></li>
            <li><a href="/pengembalian/list" class="block px-4 py-2 hover:bg-gray-700 rounded">List Pengembalian</a></li>
        </ul>
        </nav>
    </div>
</aside>