<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="flex flex-1">
      <%- include('../views/partials/aside.ejs') %>
      <div class="flex-1 flex flex-col">
</body>
</html>